.heatmap {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

  .cell {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

    .frequency,
    .timestamp {
      width: 100px;
      text-align: center;
    }
  }

  .filter-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    label {
      margin-right: 10px;
    }

    input[type="time"],
    input[type="number"] {
      padding: 5px;
      margin-right: 10px;
    }

    button {
      padding: 8px 16px;
      margin-right: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
